@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,li,ol,h1,h2,h3,h4,h5,h6,p,input,span,a,img,b,table,tr,th,td,tbody,form,fiedset,pre,textarea,blockquote{margin:0;padding:0;border:none 0;list-style:none}
a{text-decoration:none;outline:none;color:#000;}
img{ display:block;}
body{font-family:'HanHei SC',"PingFang SC","Microsoft Yahei","微软雅黑",tahoma,arial,sans-serif; font-size: 16px; color: #333; }
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
input,button,select,textarea{outline:none;font-family: "Microsoft YaHei";background:none;  -webkit-appearance:none; border-radius:0; border:none; }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#3e3e3e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#3e3e3e;
   opacity:1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#3e3e3e;
   opacity:1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#3e3e3e;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:#3e3e3e;
}
a:link{text-decoration:none}
a:visited{text-decoration:none}
a:hover{text-decoration:none;}
a:active{text-decoration:none}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:""; clear:both; display:block; font-size:0; height:0; overflow:hidden;}
.clearfix{ zoom:1;}